<mat-sidenav-container class="example-container">
  <mat-sidenav opened mode="side">
    <mat-accordion>
      <a mat-button style="text-align: center">
        <mat-icon [routerLink]="['home']">home</mat-icon>
      </a>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Aplikacija
          </mat-panel-title>
          <mat-panel-description>
            Aplikacija za fudbalski klub
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-button [routerLink]="['nacionalnost']">Nacionalnost</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-button [routerLink]="['liga']">Liga</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-button [routerLink]="['tim']">Tim</a>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Informacije
          </mat-panel-title>
          <mat-panel-description>
            Osnovne informacije o aplikaciji
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-button [routerLink]="['help']">Pomoć</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-button [routerLink]="['author']">Autor</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>